<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		<%= @finance.title %>
	</div>

	<div class="panel-body">
		<p>
		<strong>Descripción:</strong>
		<%=raw @finance.description %>
		</p>

		<p>
		<strong>Clasificación:</strong>
		<%if @finance.category == 1%>
			Ingreso
		<%elsif @finance.category == 2%>
			Egreso
		<%else%>
			Balance
		<%end%>
		</p>
	</div>
</div>

<%= link_to 'Volver', finances_path, :class => "btn btn-default btn-form" %>
