<br><br>
<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Título: <%= @finance.title %>
	</div>

	<div class="panel-body">
		<p>
		<strong>Descripción:</strong>
		<%= @finance.description %>
		</p>

		<p>
		<strong>Clasificación:</strong>
		<%if @finance.classification == 1%>
			Ingreso
		<%else%>
			Egreso
		<%end%>
		</p>
	</div>
</div>

<%= link_to 'Volver', finances_path, :class => "btn btn-default btn-form" %>
