<%= form_for([@article,@comment]) do |f| %>
	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-alert">
				No se pudo generar el comentario por lo siguiente:
				<% @comment.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div class="field">
		<%= f.text_area :body, :class=>'form-control', :id=>'eg-basic' %>
	</div>
	<br>
	<div class="actions">
		<%= f.submit "Comentar", :class=>'btn btn-default btn-form' %>
	</div>
<% end %>

