<h1>Editando Post</h1>

<%if current_user == @article.user and current_user.category != 1%>
	<%= render 'form', orden: "editar" %>
<%end%>
<%if current_user == @article.user and current_user.category == 1%>
	<%= render 'form', orden: "administrar" %>
<%end%>
<%if current_user != @article.user and current_user.category == 1%>
	<%= render 'form', orden: "validar"%>
<%end%>