<h1>Administración de Hazte Socio</h1>
<%= link_to "Nuevo encabezado de Hazte Socio", portals_newSocio_path, class:"btn btn-default btn-form"%>
<%= render "portals",nombre: "encabezados de 'Hazte Socio'"%>