<h1>Administración ¿Quiénes somos?</h1>
<%= link_to "Nueva sección de ¿Quiénes somos?", portals_newSomos_path, class:"btn btn-default btn-form"%>
<%= render "portals",nombre: "secciones de '¿Quiénes somos?"%>