<h1> ¡Perfil de <%= @user.nickname %>!</h1>
<%=render 'profile'%>
<%if current_user.category == 1%>
	<%=link_to "Administrar usuario", edit_user_path(@user), :class=>'btn btn-default btn-form'%>
<%end%>