<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<p>El señor(a)  <strong><%= @contact.name %></strong> se ha comunicado con ANEIB entregando los siguientes datos: </p>
		<p><strong>Asunto:</strong> <%= @contact.subject %></p>
		<p><strong>Correo:</strong> <%= @contact.email %></p>
		<p><strong>Comentario:</strong></p>
		<p> <%= @contact.body %></p>

		<br><br>
		<p><strong>Asociación Nacional de Estudiantes de Ingeniería en Biotecnología </strong></p>
		<p>directorio@aneib.cl</p>

	</body>
</html>