<center>
<%= link_to image_tag("logo.png"), root_path %>
<p style="color:#2B81F2; font-size: 50px; font-weight: bold; text-align: center;">ERROR: 404</p>
<p style="color:#83BC20; font-size: 25px; font-weight: bold; text-align: center;">Página no encontrada</p>
<p style="font-size: 15px; text-align: center;">Si el problema persiste comuníquese con un administrador</p>

<%= link_to 'Volver', :back, :class=>'btn btn-default btn-block btn-aneib' %>
</center>