<%= form_for([@event,@event_comment]) do |f| %>
	<% if @event_comment.errors.any? %>
		<div id="error_explanation">
			<% @event_comment.errors.full_messages.each do |message| %>
				<%flash[:alert] = "No se pudo generar el comentario por lo siguiente:"+message %>
			<% end %>
		</div>
	<% end %>
	
	<div class="field">
		<%= f.text_area :body, :class=>'form-control' %>
	</div>
	<div class="actions">
		<%= f.submit "Comentar", :class=>'btn btn-default btn-form' %>
	</div>
<% end %>

