.btn, .btn-default
{
	border-radius: 10px;
}
.btn-form
{
	min-width: 150px;
}
.btn, .btn:visited, .btn:hover, .btn:focus
{
	color: #2B81F2;
	background: white;
}
.btn-admin
{
	min-width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn-admin:hover, .btn:hover
{
	font-weight: bold;
	border-color: #2B81F2;
}