<h1>Organización Congresos anuales</h1>

<% @organizations.each do |organization| %>
	<div	class="panel panel-default panel-aneib">
		<div class="panel-heading">
			Título: <%= organization.title %> 
		</div>
		<div class="panel-body">
			<p><%=raw organization.description %> - <%= link_to 'Ver publicación', organization %> </p>
		</div>
	</div>
<%end%>