<br><br>
<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Título: <%= @organization.title %>
	</div>

	<div class="panel-body">
		<p>
		<strong>Descripción:</strong>
		<%= @organization.description %>
		</p>

	</div>
</div>

<%= link_to 'Volver', organizations_path, :class => "btn btn-default btn-form" %>
